<?xml version="1.0"?>
<launch>

    <arg name="rate" default="20"/>
    <arg name="motive_config" default="$(find mocap_listener)/config/mocap.yaml">

    <!-- Include mocap_optitrack package -->
    <include file="$(find mocap_optitrack)/launch/mocap.launch">
        <arg name="mocap_config_file" value="$(arg motive_config)"/>
    </include>

    <node name="mocap_listener" pkg="mocap_listener" type="mocap_listener.py" output="screen">
        <param name="rate" type="int" value="$(arg rate)"/>
    </node>

</launch>
